body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
}

.navbar-brand{
    margin-right: auto;
    margin-left: auto;
    font-size: 1.0em;
}

.panel{
    margin-top: 10px;
}

.navbar-text{
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
     margin-right: 0px;
     margin-left: 0px;
}

.big-button{
    font-size: 1.5em;
    margin-top: 15px;
    margin-bottom: 15px;
}